[mysqld]
user=mysql
character_set_server = utf8mb4
collation-server = utf8mb4_unicode_ci
socket=/tmp/mysql.sock
default-time_zone = '+8:00'

log-bin=mysql-bin # 开启 binlog
binlog-format=ROW # 选择 ROW 模式
server_id=1 # 配置 MySQL replaction 需要定义，不要和 canal 的 slaveId 重复

max_allowed_packet = 20M

max_connections=10000

transaction-isolation=Read-Committed

skip-grant-tables

[mysql]
default-character-set = utf8mb4
socket=/tmp/mysql.sock

[mysql.server]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4


